.text-center {
  text-align: center;
}

.text-decoration-none {
  text-decoration: none;
}

#{exClass(font-size-20)} {
  font-size: 20px;
}

#{exClass(font-size-24)} {
  font-size: 24px;
}

.font-size-large {
  font-size: large;
}

.font-size-x-large {
  font-size: x-large;
}

.font-size-xx-large {
  font-size: xx-large;
}

.font-size-40 {
  font-size: 40px;
}

.font-size-64 {
  font-size: 64px;
}
