<!-- TODO: Fix jarring spacing when items are on bonus view. Perhaps with margin buffering -->
<div class="flex-stretch flex-space-between m-bottom-5">
  <span matBadge="str" matBadgePosition="below after">{{ (stats.str || str) | dnd5eStatFormat: showBonus }}</span>&nbsp;
  <span matBadge="dex" matBadgePosition="below after">{{ (stats.dex || dex) | dnd5eStatFormat: showBonus }}</span>&nbsp;
  <span matBadge="con" matBadgePosition="below after">{{ (stats.con || con) | dnd5eStatFormat: showBonus }}</span>&nbsp;
</div>
<div class="flex-stretch flex-space-between m-bottom-5">
  <span matBadge="int" matBadgePosition="below after">{{ (stats.int || int) | dnd5eStatFormat: showBonus }}</span>&nbsp;
  <span matBadge="wis" matBadgePosition="below after">{{ (stats.wis || wis) | dnd5eStatFormat: showBonus }}</span>&nbsp;
  <span matBadge="cha" matBadgePosition="below after">{{ (stats.cha || cha) | dnd5eStatFormat: showBonus }}</span>&nbsp;
</div>
