<mat-toolbar color="primary">
  <span>Toolkit</span>
</mat-toolbar>
<div class="flex flex-stretch">
  <router-outlet></router-outlet>
</div>
<nav mat-tab-nav-bar
  *ngIf="authService.user$ | async"
  backgroundColor="primary"
  >
  <a mat-tab-link
    *ngFor="let route of routes"
    class="nav-bar-anchor"
    [attr.title]="route.label"
    [routerLink]="route.path"
    routerLinkActive #rla="routerLinkActive"
    [active]="rla.isActive"
    >
    <fa-icon [icon]="route.icon"></fa-icon>
  </a>
</nav>
