<mat-toolbar
  class="flex-static"
  color="primary"
  >
  <a class="text-color-white text-decoration-none" routerLink="/">
    <fa-icon [icon]="faDiceD20"></fa-icon>
    Toolkit
  </a>
  <span class="flex-stretch"></span>
  <span class="flex-static">
    <ng-container
      *ngIf="toolbarActions$ | async as toolbarActions"
      [ngTemplateOutlet]="toolbarActions"
    ></ng-container>
    <a
      class="p-v-10 m-left-10 text-color-white"
      routerLink="/settings"
      matRipple
      [matRippleCentered]="true"
      [matRippleUnbounded]="true"
      >
      <fa-icon [icon]="faCog"></fa-icon>
    </a>
  </span>
</mat-toolbar>
<div class="flex flex-stretch">
  <router-outlet></router-outlet>
</div>
<nav mat-tab-nav-bar
  backgroundColor="primary"
  >
  <a mat-tab-link
    *ngFor="let route of routes"
    class="nav-bar-anchor"
    [attr.title]="route.label"
    [routerLink]="route.path"
    routerLinkActive #rla="routerLinkActive"
    [active]="rla.isActive"
    >
    <fa-icon [icon]="route.icon"></fa-icon>
  </a>
</nav>
