<mat-toolbar
  class="flex-static"
  color="primary"
  >
  <a class="text-color-white text-decoration-none" routerLink="/">
    <fa-icon [icon]="faDiceD20"></fa-icon>
    {{ (toolbarCustomTitle$ | async) || 'Toolkit'}}
  </a>
  <span class="flex-stretch"></span>
  <span class="flex-static">
    <ng-container
      [ngTemplateOutlet]="toolbarActions$ | async"
    ></ng-container>
    <button
      mat-icon-button
      [matMenuTriggerFor]="ToolbarActionMenu"
      >
      <fa-icon class="font-size-20" [icon]="faBars"></fa-icon>
    </button>
  </span>
</mat-toolbar>
<div class="flex flex-stretch">
  <router-outlet></router-outlet>
</div>
<nav mat-tab-nav-bar
  backgroundColor="primary"
  >
  <a mat-tab-link
    *ngFor="let route of routes"
    class="nav-bar-anchor"
    [attr.title]="route.label"
    [routerLink]="route.path"
    routerLinkActive #rla="routerLinkActive"
    [active]="rla.isActive"
    >
    <fa-icon class="font-size-20" [icon]="route.icon"></fa-icon>
  </a>
</nav>

<mat-menu
  class="nav-bar-font-size"
  #ToolbarActionMenu="matMenu"
  >
  <a
    *ngFor="let menuItem of toolbarActionMenu$ | async"
    mat-menu-item
    class="text-color-white"
    [routerLink]="menuItem.route"
    (click)="menuItem.click"
    >
    <fa-icon *ngIf="menuItem.icon" [icon]="menuItem.icon"></fa-icon>
    {{ menuItem.text }}
  </a>
  <a
    mat-menu-item
    class="text-color-white"
    routerLink="/settings"
    >
    <fa-icon [icon]="faCog"></fa-icon>
    Settings
  </a>
</mat-menu>
